<html>
  <title>查询主页面</title>
  <body>
    <h1>这是首页，欢迎您，{{name}}.</h1>
    <h1>请输入您要查询的名字：</h1>
    <form action="/select" method="POST">
          <div>用户名: <input type="text" name="user_sel"><br></div>
          <div><input type="submit" value="查询"></div>
    </form>
  </body>
  <body>
    <h1>这是查询页面，欢迎您，{{name}}!</h1>
    <h1>成绩为：</h1>
    <h2 align="center"><a href="/">刷新</a>数据列表：</h2>
    <div id="center" style="border:2px solid #96c2f1">
     姓名    班级    总分    客观分    主观分<br>
     {% for i in data[::1]:%}
          {{i[0] }}  {{i[1]}}   {{i[2]}}   {{i[3]}}   {{i[4]}}<br>
     {% endfor %}
    </div>
  </body>
</html>